/* Page editor left tab icon hack */
.icon-linkedinprofile::before {
    content: "\f08c";
}

/* LinkedIn Basic Profile       */
/* LinkedIn Contact Information */

#linkedin_basic_profile {
    border: 1px solid #D1D1D1;
    padding: 10px;
	margin-top: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background: -o-linear-gradient(#ffffff, #f2f2f2);
    background: -moz-linear-gradient(#ffffff, #f2f2f2);
    background: linear-gradient(#ffffff, #f2f2f2);
}
#linkedin_profile_picture {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 1px solid #E6E6E6;
}
#linkedin_basic_profile table td,
#linkedin_full_profile table td,
#linkedin_contact_info table td {
    border: 1px solid transparent !important;
	font-size: 1em;
}

/* LinkedIn Full Profile */
#linkedin_full_profile,
#linkedin_contact_info {
    border: 1px solid #D1D1D1;
    padding: 10px;
	margin-top: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background: -o-linear-gradient(#ffffff, #f2f2f2);
    background: -moz-linear-gradient(#ffffff, #f2f2f2);
    background: linear-gradient(#ffffff, #f2f2f2);
    margin-bottom: 10px;
}
#linkedin_big_profile_picture {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 104px;
    height: 104px;
    padding: 2px;
    border: 1px solid #E6E6E6;
}
#linkedin_basic_profile #name,
#linkedin_full_profile #name,
#linkedin_contact_info #name {
    font-size: 2em;
	font-weight: bold;
    line-height: 2em;
}
#linkedin_basic_profile #headline,
#linkedin_full_profile #headline,
#linkedin_contact_info #headline {
    font-size: 1.2em;
    line-height: 1.4em;
}
#linkedin_basic_profile #location,
#linkedin_full_profile #location,
#linkedin_contact_info #location {
    color: #666666;
    font-size: 1.2em;
    line-height: 1.4em;
	padding-top: 4px;
}
#linkedin_full_profile_summary h2,
#linkedin_full_profile_experience h2,
#linkedin_full_profile_languages h2,
#linkedin_full_profile_skills h2,
#linkedin_full_profile_education h2,
#linkedin_full_profile_groups h2 {
    color: #A1A1A1;
    width: 100%;
    padding: 10px 10px 0 10px;
    border-bottom: 2px solid #DDDDDD;
    font-size: 1.4em;
    font-weight: normal;
}
#linkedin_full_profile_experience h4,
#linkedin_full_profile_education h4 {
    margin-bottom: 0;
}
#linkedin_full_profile_summary #content,
#linkedin_full_profile_experience #content,
#linkedin_full_profile_languages #content,
#linkedin_full_profile_skills #content,
#linkedin_full_profile_education #content {
    margin: 0 10px;
}
#linkedin_full_profile_skills span {
    margin: 2px;
    background-color: #E6E6E6;
    padding: 2px 5px;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
